<%- include("partials/header.ejs") %>
  <body class="color-bg">
    <div class="container bg-dark text-white col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img
            src="/images/display.png"
            class="d-block mx-lg-auto img-fluid"
            alt="Bootstrap Themes"
            width="700"
            height="500"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6">
            <% let greetuser = name ;%>
            <% let title = name ? `Welcome, ${name}`:'Welcome'; %>
          <h1 class="display-5 fw-bold lh-1 mb-3 text-white"> <%= title %></h1>
          <p class="lead">
            Your dedication turns each delivery into a moment of joy for our
            customers. Every car you deliver adds value to their lives. Keep up
            the great work, and let's make every journey a celebration of
            excellence. Drive safe and keep making a difference! 🚗✨
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/delivery"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
              <%= btn_value %>
            </button></a>
            <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">
              Conpleted
            </button> -->
          </div>
        </div>
      </div>
    </div>
    
  <%- include("partials/sessionPopup.ejs")%>
    <%- include("partials/footer.ejs") %>